#1. Explain the key features of Python that make it a popular choice for programming.


### Python is popular open source programming languages as it is easier to read and and learn compared to languages like Java and C++. it has an easier syntax, python is also a general purpose language which means it can be used for various types of requirements like data analysis, automation, machine learning and web development
### It is also platform independent i.e. it can be used on macOS, Linux and windows
### It has various inbuilt standard libraries and frameworks and it is also easier to import third party libraries in python like tensorflow, numpy, pandas, flask, etc.
### It also has large community that contributes to its development and regular updates
### It is interpreted and dynamically typed language which makes it easier for debugging and declaring variables. It also has OOP support offering solution to complex problems
### It has rich ecosystem for Data science and AI with libraries like tensorflow, pytorch, scipy and scickit-learn

# 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

### Predifined keywords are reserved keywords in python as they have dedicated function so it is said not use these keywords for assigning a variable. view following cell for the examples of predefined keywords. Here True, False, For in, list, range are the examples

In [ ]:
True, False
For x in list(range(0,100))

#3. Compare and contrast mutable and immutable objects in Python with examples.

### Mutable objects in python can be referred as objects whose value can be changed after they are created like List, Dictionaryies and sets Whereas immutable objects can't be modified once created for example tuple, string, integer, float.
###Below is one example of mutable and immutable objects

In [ ]:
# Mutable abjects - Lists
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list by adding an element
print(my_list) # you will find that 4 is added at last using append but this will not be true for tuple
my_list[1]= 9
print(my_list) #you will get a modified list. Reassignment is also possible in dictionaries and sets

[1, 2, 3, 4]
[1, 9, 3, 4]

In [ ]:
my_list = (1, 2, 3)
my_list[1] = 4
print(my_list) # as you can see in the error you cannot modify and element once it is created the same can be said for strings, integer and flot abjects

TypeError: 'tuple' object does not support item assignment

#4. Discuss the diffrent types of operators in python and provide examples of  how they are used

###There are several types of operators used in python such Arithmetic operators, comparison operators, Logical operators, Bitwise Operators, assignment operators, Identity operators, member operator
###Following are examples of each operator

## Arithmetic operator

In [ ]:
a = 10
b = 3
print(a + b)   # addition
print(a - b)   # subtract
print(a * b)   # multiply
print(a / b)   # division
print(a // b)  # floor division
print(a % b)   # remainder
print(a ** b)  # exponential

13
7
30
3.3333333333333335
3
1
1000

## Comparison operator

In [ ]:
x = 5
y = 3
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

##Logical operator

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

##Bitwise Operators

In [ ]:
a = 5
b = 3
print(a & b)
print(a | b)
print(a ^ b)
print(a << 1)
print(a >> 1)

1
7
6
10
2

##Assignment Opertors

In [ ]:
x = 5
x += 3  # x = x + 3
print(x)
# there are various other replacing + sign wiht arithmetic operator or bitwise operator

8

##Identity Operators

In [ ]:
a = [1, 2, 3]
b = a
c = a[:]
print(a is b)      # Output: True (same memory location)
print(a is c)      # Output: False (different memory locations)

True
False

##Membership Operators

In [ ]:
x = [1, 2, 3]
print(2 in x)
print(4 not in x)

True
True

#5. Explain the concept of type casting in python with examples

### Type casting in python refers to process of converting a variable from one data type to another. It is helpful when you have data stored in immutable objects like tuple or string etc
### There are two types of type casting

###-   Implicit type casting
###-  Explicit type casting

### Follow through the given examples for better understanding

## Implicit type casting - python automatically converts one data type to another

In [ ]:
# Integer and float in the same expression
a = 5        # Integer
b = 2.5      # Float


result = a + b

print(result)
print(type(result))
# Python will automatically convert a to float and the output will be in float this is called implicit type casting

7.5
<class 'float'>

## Explicit type casting - In this type casting user will have to convert data type of object manually using predifined function as shown in example

In [ ]:
a = 3
b  = "4"
c = a+int(b) # here we used int function to convert a string to integer. this is one simple example and we can do this with tuple, float and any other datatype.
print (c)
# as you can see the output returns sum which would otherwise will be an error without type conversion

7

#6. How do conditional statements work in python? Illustrate with examples

###Conditional statements in Python help to execute different blocks of code depending on whether a given condition is True or False.

###Types of Conditional Statements in Python
###1 if Statement
###2 if-else Statement
###3 if-elif-else Statement
###4 Nested if Statement
###if checks a condition and executes a block of code if the condition is True.
###if-else adds an alternative block if the condition is False.
###if-elif-else handles multiple conditions in sequence, executing only the first True block.
###Nested if statements allow hierarchical checking of conditions.

##if Statement

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

##if-else Statement

In [ ]:
y = 3

if y > 5:
    print("y is greater than 5")
else:
    print("y is not greater than 5")  # This block will execute because the condition is False

y is not greater than 5

##if-elif-else Statement

In [ ]:
z = 15

if z < 10:
    print("z is less than 10")
elif z == 10:
    print("z is equal to 10")
elif z < 20:
    print("z is less than 20 but greater than 10")  # This block will execute
else:
    print("z is 20 or greater")

z is less than 20 but greater than 10

##Nested if Statement

In [ ]:
a = 25

if a > 10:
    print("a is greater than 10")  # This block will execute
    if a > 20:
        print("a is also greater than 20")  # This block will execute because both conditions are True
    else:
        print("a is 10-20")
else:
    print("a is 10 or less")

a is greater than 10
a is also greater than 20

#7. Describe the diffrent types of loops in python and their use cases with examples

### Python provide to main types of loops to executea block of code multiple times -  For loop and while loop
### For loop is used to iterate over a element one by one such as numbers in  lists. it is used when you need to perform iteration over each item in a collection and you know the exact number of iterations in advance

In [ ]:
fruits = ["apple", "banana", "cherry"] # iteration in list

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
text = "Python" # iteration in string

for char in text:
    print(char)


for i in range(5): #iteration in number
    print(i)

P
y
t
h
o
n
0
1
2
3
4

##While Loop

###while loop continues to iterate over a block of code until a condition is True or False. it is used when you want the code too run till a condition is met and you don't know no. of iteartions in advance

In [ ]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
# Calculate the sum of numbers from 1 to n
n = 5
sum = 0
i = 1

while i <= n:
    sum += i
    i += 1

print("Sum:", sum)

Sum: 15